
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

html, body {
	height: 100%;
}
/* ----------------------------------------
Typography
------------------------------------------- */
body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .02em;
	margin: 0;
	color: #1A1A1A;
}

p {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #1A1A1A;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}

h1 {
	color: black;
}

h2 {
	color: black;
}

h3 {

}

h4 {

}
/* ----------------------------------------
Layout
------------------------------------------- */
.flexwrap {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 95vh;
	overflow-y: hidden;
}

.column:nth-of-type(1) {
	width: 72%;
	display: inline-block;
	position: relative;
	height: 95vh;
	overflow-y: scroll;

}

.column:nth-of-type(2) {
	width: 27%;
	display: inline-block;
	height: 95vh;
	overflow-y: scroll;
	position: relative;
	margin-right: 30px;
	padding-left: 30px; 
	border-left: 2px solid #1A1A1A;


}

/* ----------------------------------------
Header
------------------------------------------- */
header {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/dessert_after_header.JPG');
	opacity: 1;
	background-attachment: fixed;
	height: 90vh;
	margin-top: 0;
	overflow: hidden;
}

.headline {
	margin: 0;
	position: absolute;
	top:400px;
	left: 800px;
}

.strikeout {
	text-decoration: line-through;
}

nav, footer {
	align-items: center;
 	justify-content: center;
 	background-color: #ffffff;
 	width: 100%;
 	border-top: 2px solid #1A1A1A;
 	border-bottom: 2px solid #1A1A1A;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 10px 60px;
}

ul a {
	text-transform: uppercase;
	letter-spacing: .02em;
	text-decoration: none;
	display: inline-block;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	opacity: 1;
}

/* ----------------------------------------
Buttons
------------------------------------------- */

/* ----------------------------------------
Articles
------------------------------------------- */
.beforeandafter_wrapper img {
	max-width: 700px;
}

.beforeafter_wrapper {
	width: 500px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	border: 1px solid #1A1A1A;
	height: 550px;
	z-index: 1;
	margin-bottom: 80px;
}

h4 {
	width: 100%;
	padding: 10px 0px;
	position: absolute;
	top: 500px;
	margin: 0px;
}

.before {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 0;
	left: 0;
	transition: all 1s ease-in-out;
	z-index: 2;
}
.after {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 0;
	left: 0;
	/*z-index: 1;*/
}


.beforeafter_wrapper:hover .before {
	transform: translateX(-600px);
}

.column:nth-of-type(2) img {
	border-radius: 50%;
}

.column:nth-of-type(2) article:hover {
	opacity: 0.8;
}
/*h3 {
	position: absolute;
	top: 0;
}*/
/* ----------------------------------------
About
------------------------------------------- */

/* ----------------------------------------
Footer
------------------------------------------- */

/*also edited in nav/ footer */
footer {
	/*background-color: #e3ecf7;
 	width: 100%;*/
	border-top: 2px solid #1A1A1A;
}

/* ----------------------------------------
Place your media queries here!
------------------------------------------- */

